.log-content {
  height: 800px;
  padding: 45px 0;
  background-image: url("../../images/index/bg2.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
}

.log-content .log {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  padding: 50px;
}

.log-content .log .log-title {
  font-size: 30px;
  margin-bottom: 20px;
  color: #fff;
  text-align: center;
  letter-spacing: 0.5em;
}

.log-content .log .item {
  color: #fff;
  margin-bottom: 20px;
}

.log-content .log .item label {
  width: 20%;
  display: inline-block;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #fff;
  font-weight: 400;
  margin-right: 20px;
}

.log-content .log .item input {
  width: 70%;
  height: 40px;
  color: #0d2933;
  font-size: 16px;
}

.log-content .log .item input[type=radio], .log-content .log .item input[type=checkbox] {
  width: auto;
  display: inline-block;
  height: auto;
}

.log-content .log .item span {
  display: inline;
  text-align: center;
  margin-right: 20px;
}

.log-content .log .item button {
  width: 150px;
  padding: 10px 20px;
  margin-top: 10px;
  font-size: 20px;
  border-radius: 26px;
  outline: 0;
  border: 0;
  background-color: #cda274;
  transition: all 0.5s;
}

.log-content .log .item button:hover {
  border-color: #cc9152;
}

.log-content .log .item button.btn-disable {
  background-color: #9b9fa6 !important;
}

.login {
  padding: 120px;
}

.modal.in .modal-dialog {
  top: 90px;
}

::-webkit-input-placeholder {
  color: red;
}
